## Working with SQL Lite

In [1]:
import sqlite3

conn=sqlite3.connect('data/data_base/company.db')
cursor=conn.cursor()

In [2]:
cursor.execute('''CREATE TABLE IF NOT EXISTS employees
               (id INTEGER PRIMARY KEY,name TEXT, role TEXT,salary REAL)''')

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS projects
               (id INTEGER PRIMARY KEY,name TEXT, desciption TEXT,budget REAL)''')